// #matrix-timeline {
//     max-width: 640px;
//     margin: auto;
//     text-align: justify;
// }

.gallery {
    justify-content: center;
}

.thumbnail-in-gallery {
    height: 400px;
    padding: 0.3em;
}

.thumbnail-in-gallery img {
    max-height: 100%;
}
#matrix-title {
    margin-top: 20px;
    // align-items: center;
}
.tile-icon {
    margin-right: 10px;
}