<header class="navbar">
    <section class="navbar-section navbar-empty"></section>
    <section class="navbar-section navbar-full">
        <ng-container *ngFor="let room of rooms$ | async; let first = first">
            <span class="chip" *ngIf="!first && room.world_readable" (click)="changeRoom(room.room_id)">
                <img src="{{ getThumbnailFromMxc(room.avatar_url) }}" class="avatar avatar-sm">
                {{ room.name }}
            </span>
        </ng-container>
    </section>
</header>