.room-summary {
    padding: .4rem;
}

#matrix-title {
    margin-top: 20px;
    // align-items: center;
}
.tile-icon {
    margin-right: 10px;
}

.back-button {
    cursor: pointer;
    position: relative;
    right: 70px;
    top: 70px;
}