.room-summary {
    padding: .4rem;
}

#matrix-title {
    margin-top: 20px;
    // align-items: center;
}
.tile-icon {
    margin-right: 10px;
}

.back-button {
    cursor: pointer;
    text-align: center;
    
}