<div id="matrix-timeline" class="columns gallery">
    <div class="matrix-message" *ngFor="let message of timeline$ | async; let last = last" appScrollTracker
        (timelineScrolled)="timelineScrolled()">
        <div class="thumbnail-in-gallery">
            <ng-container *ngIf="message.content">
                <div *ngIf="last" observeVisibility [debounceTime]="0" (visible)="timelineScrolled()"></div>
                <ng-container *ngIf="message.content.msgtype === 'm.image'">
                    <a class="c-hand" (click)="imageClick(message)">
                        <img src="{{ getUrlFromMxc(message.content.url, 'thumbnail') }}" />
                    </a>
                </ng-container>
            </ng-container>
        </div>
    </div>
    <app-timeline-image [url]="fullImageUrl" [showModal]="showImageOnScreen" (destroyUrl)="hideModal()"></app-timeline-image>
</div>