/* You can add global styles to this file, and also import other style files */
@use "../node_modules/spectre.css/dist/spectre.min.css";
@use "../node_modules/spectre.css/dist/spectre-exp.min.css";
@use "../node_modules/spectre.css/dist/spectre-icons.min.css";

.right {
    float: right;
}

.video-in-timeline {
    max-width: 640px;
}

.margin-top {
    margin-top: 15px;
}
.full-width {
    width: 100%;
}
.text-supertiny {
    font-size: 0.5em;
}